```
0. supportLevel == ? % (ie. 20%), confidence == ? % (20%)

1. read in transactions

k = 1  (number of items combined) 
2. do
    - generate support levels for level k
    - calculate support and confidence level for each "item set" 
    - eliminate 

```



Candidate ItemSets come from frequent items _> get support level - then create L2

C0 -> L1 -> C1 -> L2 -> C2 -> L3 -> C3  (until only 1 itemset is left.

Calculate all support ItemSets starting from k=1, to k=n, after all done, go through each and calculate the confidence level.

The support levels from ItemSets stays the same, but then calc each Confidence level using each combination of item within each ItemSet for each overall ItemSets for k=N.

In [ ]:



ta = ('i2', 'i3')
tb = ('i4',)

tc = tb + ta

In [ ]:
set(tb).issubset(tc)

In [ ]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
tuple3 = (3,2,1)

In [ ]:
sorted(tuple3) == sorted(tuple2)

In [ ]:
sorted(tuple3)

In [ ]:
# load some helpers
import os, sys
from typing import List, Tuple
from typing import List, Tuple
from itertools import combinations, product, permutations
from abc import ABC, abstractmethod, abstractstaticmethod, abstractclassmethod
import pandas as pd
import logging


def source_file(file_name):
    f = os.path.join(os.getcwd(), file_name)
    exec(open(f).read())

    
source_file('apriori.py')
source_file('assoc.py')

In [ ]:
from apriori import CollapsedCsvFileReader, Apriori
from assoc import generate_associations

fr = CollapsedCsvFileReader('./data/test-dm-bookch6.csv')

t2 = fr.read()

#logger.info("tran count: {0}".format(t2))
g = Apriori(t2)
#output = g.generate_levels(support_level=0.60, drop_below_support=False)
output = g.generate_levels(support_level=0.22, drop_below_support=True)

In [ ]:
nnn = generate_associations(output)

In [ ]:
[ item for item in nnn if not set(item[][2]).issubset(item[][0]) ]

In [164]:
nnn

[(('I1',), 0.6666666666666666, ('I2',), 0.7777777777777778),
 (('I1',), 0.6666666666666666, ('I3',), 0.6666666666666666),
 (('I1',), 0.6666666666666666, ('I4',), 0.2222222222222222),
 (('I1',), 0.6666666666666666, ('I5',), 0.2222222222222222),
 (('I1',), 0.6666666666666666, ('I2', 'I3'), 0.4444444444444444),
 (('I1',), 0.6666666666666666, ('I2', 'I4'), 0.2222222222222222),
 (('I1',), 0.6666666666666666, ('I2', 'I5'), 0.2222222222222222),
 (('I2',), 0.7777777777777778, ('I1',), 0.6666666666666666),
 (('I2',), 0.7777777777777778, ('I3',), 0.6666666666666666),
 (('I2',), 0.7777777777777778, ('I4',), 0.2222222222222222),
 (('I2',), 0.7777777777777778, ('I5',), 0.2222222222222222),
 (('I2',), 0.7777777777777778, ('I1', 'I3'), 0.4444444444444444),
 (('I2',), 0.7777777777777778, ('I1', 'I5'), 0.2222222222222222),
 (('I3',), 0.6666666666666666, ('I1',), 0.6666666666666666),
 (('I3',), 0.6666666666666666, ('I2',), 0.7777777777777778),
 (('I3',), 0.6666666666666666, ('I4',), 0.2222222222222222),
 (('I3',), 0.6666666666666666, ('I5',), 0.2222222222222222),
 (('I3',), 0.6666666666666666, ('I1', 'I2'), 0.4444444444444444),
 (('I3',), 0.6666666666666666, ('I1', 'I5'), 0.2222222222222222),
 (('I3',), 0.6666666666666666, ('I2', 'I4'), 0.2222222222222222),
 (('I3',), 0.6666666666666666, ('I2', 'I5'), 0.2222222222222222),
 (('I3',), 0.6666666666666666, ('I1', 'I2', 'I5'), 0.2222222222222222),
 (('I4',), 0.2222222222222222, ('I1',), 0.6666666666666666),
 (('I4',), 0.2222222222222222, ('I2',), 0.7777777777777778),
 (('I4',), 0.2222222222222222, ('I3',), 0.6666666666666666),
 (('I4',), 0.2222222222222222, ('I5',), 0.2222222222222222),
 (('I4',), 0.2222222222222222, ('I1', 'I2'), 0.4444444444444444),
 (('I4',), 0.2222222222222222, ('I1', 'I3'), 0.4444444444444444),
 (('I4',), 0.2222222222222222, ('I1', 'I5'), 0.2222222222222222),
 (('I4',), 0.2222222222222222, ('I2', 'I3'), 0.4444444444444444),
 (('I4',), 0.2222222222222222, ('I2', 'I5'), 0.2222222222222222),
 (('I4',), 0.2222222222222222, ('I1', 'I2', 'I3'), 0.2222222222222222),
 (('I4',), 0.2222222222222222, ('I1', 'I2', 'I5'), 0.2222222222222222),
 (('I5',), 0.2222222222222222, ('I1',), 0.6666666666666666),
 (('I5',), 0.2222222222222222, ('I2',), 0.7777777777777778),
 (('I5',), 0.2222222222222222, ('I3',), 0.6666666666666666),
 (('I5',), 0.2222222222222222, ('I4',), 0.2222222222222222),
 (('I5',), 0.2222222222222222, ('I1', 'I2'), 0.4444444444444444),
 (('I5',), 0.2222222222222222, ('I1', 'I3'), 0.4444444444444444),
 (('I5',), 0.2222222222222222, ('I2', 'I3'), 0.4444444444444444),
 (('I5',), 0.2222222222222222, ('I2', 'I4'), 0.2222222222222222),
 (('I5',), 0.2222222222222222, ('I1', 'I2', 'I3'), 0.2222222222222222),
 (('I1', 'I2'), 0.4444444444444444, ('I1',), 0.6666666666666666),
 (('I1', 'I2'), 0.4444444444444444, ('I2',), 0.7777777777777778),
 (('I1', 'I2'), 0.4444444444444444, ('I3',), 0.6666666666666666),
 (('I1', 'I2'), 0.4444444444444444, ('I4',), 0.2222222222222222),
 (('I1', 'I2'), 0.4444444444444444, ('I5',), 0.2222222222222222),
 (('I1', 'I2'), 0.4444444444444444, ('I1', 'I3'), 0.4444444444444444),
 (('I1', 'I2'), 0.4444444444444444, ('I1', 'I5'), 0.2222222222222222),
 (('I1', 'I2'), 0.4444444444444444, ('I2', 'I3'), 0.4444444444444444),
 (('I1', 'I2'), 0.4444444444444444, ('I2', 'I4'), 0.2222222222222222),
 (('I1', 'I2'), 0.4444444444444444, ('I2', 'I5'), 0.2222222222222222),
 (('I1', 'I3'), 0.4444444444444444, ('I1',), 0.6666666666666666),
 (('I1', 'I3'), 0.4444444444444444, ('I2',), 0.7777777777777778),
 (('I1', 'I3'), 0.4444444444444444, ('I3',), 0.6666666666666666),
 (('I1', 'I3'), 0.4444444444444444, ('I4',), 0.2222222222222222),
 (('I1', 'I3'), 0.4444444444444444, ('I5',), 0.2222222222222222),
 (('I1', 'I3'), 0.4444444444444444, ('I1', 'I2'), 0.4444444444444444),
 (('I1', 'I3'), 0.4444444444444444, ('I1', 'I5'), 0.2222222222222222),
 (('I1', 'I3'), 0.4444444444444444, ('I2', 'I3'), 0.4444444444444444),
 (('I1', 'I3'), 0.4444444444444444, ('I2', 'I4'), 0.2222222222222222),
 (('I1', 'I3'), 0.4444444444444444, ('I2', 'I5'), 0.2222222222222222),
 (('I1', 'I3'), 0.4444444444444444, ('I1', 'I2', 'I5'), 0.2222222222222222),
 (('I1', 'I5'), 0.2222222222222222, ('I1',), 0.6666666666666666),
 (('I1', 'I5'), 0.2222222222222222, ('I2',), 0.7777777777777778),
 (('I1', 'I5'), 0.2222222222222222, ('I3',), 0.6666666666666666),
 (('I1', 'I5'), 0.2222222222222222, ('I4',), 0.2222222222222222),
 (('I1', 'I5'), 0.2222222222222222, ('I5',), 0.2222222222222222),
 (('I1', 'I5'), 0.2222222222222222, ('I1', 'I2'), 0.4444444444444444),
 (('I1', 'I5'), 0.2222222222222222, ('I1', 'I3'), 0.4444444444444444),
 (('I1', 'I5'), 0.2222222222222222, ('I2', 'I3'), 0.4444444444444444),
 (('I1', 'I5'), 0.2222222222222222, ('I2', 'I4'), 0.2222222222222222),
 (('I1', 'I5'), 0.2222222222222222, ('I2', 'I5'), 0.2222222222222222),
 (('I1', 'I5'), 0.2222222222222222, ('I1', 'I2', 'I3'), 0.2222222222222222),
 (('I2', 'I3'), 0.4444444444444444, ('I1',), 0.6666666666666666),
 (('I2', 'I3'), 0.4444444444444444, ('I2',), 0.7777777777777778),
 (('I2', 'I3'), 0.4444444444444444, ('I3',), 0.6666666666666666),
 (('I2', 'I3'), 0.4444444444444444, ('I4',), 0.2222222222222222),
 (('I2', 'I3'), 0.4444444444444444, ('I5',), 0.2222222222222222),
 (('I2', 'I3'), 0.4444444444444444, ('I1', 'I2'), 0.4444444444444444),
 (('I2', 'I3'), 0.4444444444444444, ('I1', 'I3'), 0.4444444444444444),
 (('I2', 'I3'), 0.4444444444444444, ('I1', 'I5'), 0.2222222222222222),
 (('I2', 'I3'), 0.4444444444444444, ('I2', 'I4'), 0.2222222222222222),
 (('I2', 'I3'), 0.4444444444444444, ('I2', 'I5'), 0.2222222222222222),
 (('I2', 'I3'), 0.4444444444444444, ('I1', 'I2', 'I5'), 0.2222222222222222),
 (('I2', 'I4'), 0.2222222222222222, ('I1',), 0.6666666666666666),
 (('I2', 'I4'), 0.2222222222222222, ('I2',), 0.7777777777777778),
 (('I2', 'I4'), 0.2222222222222222, ('I3',), 0.6666666666666666),
 (('I2', 'I4'), 0.2222222222222222, ('I4',), 0.2222222222222222),
 (('I2', 'I4'), 0.2222222222222222, ('I5',), 0.2222222222222222),
 (('I2', 'I4'), 0.2222222222222222, ('I1', 'I2'), 0.4444444444444444),
 (('I2', 'I4'), 0.2222222222222222, ('I1', 'I3'), 0.4444444444444444),
 (('I2', 'I4'), 0.2222222222222222, ('I1', 'I5'), 0.2222222222222222),
 (('I2', 'I4'), 0.2222222222222222, ('I2', 'I3'), 0.4444444444444444),
 (('I2', 'I4'), 0.2222222222222222, ('I2', 'I5'), 0.2222222222222222),
 (('I2', 'I4'), 0.2222222222222222, ('I1', 'I2', 'I3'), 0.2222222222222222),
 (('I2', 'I4'), 0.2222222222222222, ('I1', 'I2', 'I5'), 0.2222222222222222),
 (('I2', 'I5'), 0.2222222222222222, ('I1',), 0.6666666666666666),
 (('I2', 'I5'), 0.2222222222222222, ('I2',), 0.7777777777777778),
 (('I2', 'I5'), 0.2222222222222222, ('I3',), 0.6666666666666666),
 (('I2', 'I5'), 0.2222222222222222, ('I4',), 0.2222222222222222),
 (('I2', 'I5'), 0.2222222222222222, ('I5',), 0.2222222222222222),
 (('I2', 'I5'), 0.2222222222222222, ('I1', 'I2'), 0.4444444444444444),
 (('I2', 'I5'), 0.2222222222222222, ('I1', 'I3'), 0.4444444444444444),
 (('I2', 'I5'), 0.2222222222222222, ('I1', 'I5'), 0.2222222222222222),
 (('I2', 'I5'), 0.2222222222222222, ('I2', 'I3'), 0.4444444444444444),
 (('I2', 'I5'), 0.2222222222222222, ('I2', 'I4'), 0.2222222222222222),
 (('I2', 'I5'), 0.2222222222222222, ('I1', 'I2', 'I3'), 0.2222222222222222),
 (('I1', 'I2', 'I3'), 0.2222222222222222, ('I1',), 0.6666666666666666),
 (('I1', 'I2', 'I3'), 0.2222222222222222, ('I2',), 0.7777777777777778),
 (('I1', 'I2', 'I3'), 0.2222222222222222, ('I3',), 0.6666666666666666),
 (('I1', 'I2', 'I3'), 0.2222222222222222, ('I4',), 0.2222222222222222),
 (('I1', 'I2', 'I3'), 0.2222222222222222, ('I5',), 0.2222222222222222),
 (('I1', 'I2', 'I3'), 0.2222222222222222, ('I1', 'I2'), 0.4444444444444444),
 (('I1', 'I2', 'I3'), 0.2222222222222222, ('I1', 'I3'), 0.4444444444444444),
 (('I1', 'I2', 'I3'), 0.2222222222222222, ('I1', 'I5'), 0.2222222222222222),
 (('I1', 'I2', 'I3'), 0.2222222222222222, ('I2', 'I3'), 0.4444444444444444),
 (('I1', 'I2', 'I3'), 0.2222222222222222, ('I2', 'I4'), 0.2222222222222222),
 (('I1', 'I2', 'I3'), 0.2222222222222222, ('I2', 'I5'), 0.2222222222222222),
 (('I1', 'I2', 'I3'),
  0.2222222222222222,
  ('I1', 'I2', 'I5'),
  0.2222222222222222),
 (('I1', 'I2', 'I5'), 0.2222222222222222, ('I1',), 0.6666666666666666),
 (('I1', 'I2', 'I5'), 0.2222222222222222, ('I2',), 0.7777777777777778),
 (('I1', 'I2', 'I5'), 0.2222222222222222, ('I3',), 0.6666666666666666),
 (('I1', 'I2', 'I5'), 0.2222222222222222, ('I4',), 0.2222222222222222),
 (('I1', 'I2', 'I5'), 0.2222222222222222, ('I5',), 0.2222222222222222),
 (('I1', 'I2', 'I5'), 0.2222222222222222, ('I1', 'I2'), 0.4444444444444444),
 (('I1', 'I2', 'I5'), 0.2222222222222222, ('I1', 'I3'), 0.4444444444444444),
 (('I1', 'I2', 'I5'), 0.2222222222222222, ('I1', 'I5'), 0.2222222222222222),
 (('I1', 'I2', 'I5'), 0.2222222222222222, ('I2', 'I3'), 0.4444444444444444),
 (('I1', 'I2', 'I5'), 0.2222222222222222, ('I2', 'I4'), 0.2222222222222222),
 (('I1', 'I2', 'I5'), 0.2222222222222222, ('I2', 'I5'), 0.2222222222222222),
 (('I1', 'I2', 'I5'),
  0.2222222222222222,
  ('I1', 'I2', 'I3'),
  0.2222222222222222)]

In [ ]:
nnn[[0]]

In [297]:
n2 = pd.DataFrame(nnn, columns= ['antecedent', 'support1', 'result', 'support2'])
n2

       antecedent  support1        result  support2
0           (I1,)  0.666667         (I2,)  0.777778
1           (I1,)  0.666667         (I3,)  0.666667
2           (I1,)  0.666667         (I4,)  0.222222
3           (I1,)  0.666667         (I5,)  0.222222
4           (I1,)  0.666667      (I2, I3)  0.444444
..            ...       ...           ...       ...
127  (I1, I2, I5)  0.222222      (I1, I5)  0.222222
128  (I1, I2, I5)  0.222222      (I2, I3)  0.444444
129  (I1, I2, I5)  0.222222      (I2, I4)  0.222222
130  (I1, I2, I5)  0.222222      (I2, I5)  0.222222
131  (I1, I2, I5)  0.222222  (I1, I2, I3)  0.222222

[132 rows x 4 columns]

In [298]:
pd.set_option('display.width', 200)

possible_combos = [ ( i[1]['antecedent'] + i[1]['result'], i[1]['antecedent'], i[1]['support1'], i[1]['result'], i[1]['support2'] ) 
   for i in n2.iterrows()
   #elimiate where item on boths sides 
   if not bool(set(i[1]['result']) & set(i[1]['antecedent'])) ]
   #and set(i[1]['antecedent'] + i[1]['result']) in t2]
   #if not set(i[1]['result']).issubset(i[1]['antecedent']) ]
    

pd.set_option('max_rows', 100)
n3 = pd.DataFrame(possible_combos, columns= ['fullkey', 'antecedent', 'support1', 'result', 'support2'])
n3

             fullkey    antecedent  support1        result  support2
0           (I1, I2)         (I1,)  0.666667         (I2,)  0.777778
1           (I1, I3)         (I1,)  0.666667         (I3,)  0.666667
2           (I1, I4)         (I1,)  0.666667         (I4,)  0.222222
3           (I1, I5)         (I1,)  0.666667         (I5,)  0.222222
4       (I1, I2, I3)         (I1,)  0.666667      (I2, I3)  0.444444
5       (I1, I2, I4)         (I1,)  0.666667      (I2, I4)  0.222222
6       (I1, I2, I5)         (I1,)  0.666667      (I2, I5)  0.222222
7           (I2, I1)         (I2,)  0.777778         (I1,)  0.666667
8           (I2, I3)         (I2,)  0.777778         (I3,)  0.666667
9           (I2, I4)         (I2,)  0.777778         (I4,)  0.222222
10          (I2, I5)         (I2,)  0.777778         (I5,)  0.222222
11      (I2, I1, I3)         (I2,)  0.777778      (I1, I3)  0.444444
12      (I2, I1, I5)         (I2,)  0.777778      (I1, I5)  0.222222
13          (I3, I1)         (I3,)  0.666667         (I1,)  0.666667
14          (I3, I2)         (I3,)  0.666667         (I2,)  0.777778
15          (I3, I4)         (I3,)  0.666667         (I4,)  0.222222
16          (I3, I5)         (I3,)  0.666667         (I5,)  0.222222
17      (I3, I1, I2)         (I3,)  0.666667      (I1, I2)  0.444444
18      (I3, I1, I5)         (I3,)  0.666667      (I1, I5)  0.222222
19      (I3, I2, I4)         (I3,)  0.666667      (I2, I4)  0.222222
20      (I3, I2, I5)         (I3,)  0.666667      (I2, I5)  0.222222
21  (I3, I1, I2, I5)         (I3,)  0.666667  (I1, I2, I5)  0.222222
22          (I4, I1)         (I4,)  0.222222         (I1,)  0.666667
23          (I4, I2)         (I4,)  0.222222         (I2,)  0.777778
24          (I4, I3)         (I4,)  0.222222         (I3,)  0.666667
25          (I4, I5)         (I4,)  0.222222         (I5,)  0.222222
26      (I4, I1, I2)         (I4,)  0.222222      (I1, I2)  0.444444
27      (I4, I1, I3)         (I4,)  0.222222      (I1, I3)  0.444444
28      (I4, I1, I5)         (I4,)  0.222222      (I1, I5)  0.222222
29      (I4, I2, I3)         (I4,)  0.222222      (I2, I3)  0.444444
30      (I4, I2, I5)         (I4,)  0.222222      (I2, I5)  0.222222
31  (I4, I1, I2, I3)         (I4,)  0.222222  (I1, I2, I3)  0.222222
32  (I4, I1, I2, I5)         (I4,)  0.222222  (I1, I2, I5)  0.222222
33          (I5, I1)         (I5,)  0.222222         (I1,)  0.666667
34          (I5, I2)         (I5,)  0.222222         (I2,)  0.777778
35          (I5, I3)         (I5,)  0.222222         (I3,)  0.666667
36          (I5, I4)         (I5,)  0.222222         (I4,)  0.222222
37      (I5, I1, I2)         (I5,)  0.222222      (I1, I2)  0.444444
38      (I5, I1, I3)         (I5,)  0.222222      (I1, I3)  0.444444
39      (I5, I2, I3)         (I5,)  0.222222      (I2, I3)  0.444444
40      (I5, I2, I4)         (I5,)  0.222222      (I2, I4)  0.222222
41  (I5, I1, I2, I3)         (I5,)  0.222222  (I1, I2, I3)  0.222222
42      (I1, I2, I3)      (I1, I2)  0.444444         (I3,)  0.666667
43      (I1, I2, I4)      (I1, I2)  0.444444         (I4,)  0.222222
44      (I1, I2, I5)      (I1, I2)  0.444444         (I5,)  0.222222
45      (I1, I3, I2)      (I1, I3)  0.444444         (I2,)  0.777778
46      (I1, I3, I4)      (I1, I3)  0.444444         (I4,)  0.222222
47      (I1, I3, I5)      (I1, I3)  0.444444         (I5,)  0.222222
48  (I1, I3, I2, I4)      (I1, I3)  0.444444      (I2, I4)  0.222222
49  (I1, I3, I2, I5)      (I1, I3)  0.444444      (I2, I5)  0.222222
50      (I1, I5, I2)      (I1, I5)  0.222222         (I2,)  0.777778
51      (I1, I5, I3)      (I1, I5)  0.222222         (I3,)  0.666667
52      (I1, I5, I4)      (I1, I5)  0.222222         (I4,)  0.222222
53  (I1, I5, I2, I3)      (I1, I5)  0.222222      (I2, I3)  0.444444
54  (I1, I5, I2, I4)      (I1, I5)  0.222222      (I2, I4)  0.222222
55      (I2, I3, I1)      (I2, I3)  0.444444         (I1,)  0.666667
56      (I2, I3, I4)      (I2, I3)  0.444444         (I4,)  0.222222
57      (I2, I3, I5)      (I2, I3)  0.444444         (I5,)  0.222222
58  (I2, I3, I1, I5)      (I2, I3)  0.444444      (I1, I5)  0.222222
59      (I2, I4, I1)      (I2, I4)  0.222222         (I1,)  0.666667
60      (I2, I4, I3)      (I2, I4)  0.222222         (I3,)  0.666667
61      (I2, I4, I5)      (I2, I4)  0.222222         (I5,)  0.222222
62  (I2, I4, I1, I3)      (I2, I4)  0.222222      (I1, I3)  0.444444
63  (I2, I4, I1, I5)      (I2, I4)  0.222222      (I1, I5)  0.222222
64      (I2, I5, I1)      (I2, I5)  0.222222         (I1,)  0.666667
65      (I2, I5, I3)      (I2, I5)  0.222222         (I3,)  0.666667
66      (I2, I5, I4)      (I2, I5)  0.222222         (I4,)  0.222222
67  (I2, I5, I1, I3)      (I2, I5)  0.222222      (I1, I3)  0.444444
68  (I1, I2, I3, I4)  (I1, I2, I3)  0.222222         (I4,)  0.222222
69  (I1, I2, I3, I5)  (I1, I2, I3)  0.222222         (I5,)  0.222222
70  (I1, I2, I5, I3)  (I1, I2, I5)  0.222222         (I3,)  0.666667
71  (I1, I2, I5, I4)  (I1, I2, I5)  0.222222         (I4,)  0.222222

In [303]:
def get_support_for_key(trans_list: pd.DataFrame, antecedent_key: Tuple):
    rv = 0
    srted_key = tuple(sorted(antecedent_key))
    matches = trans_list[trans_list['antecedent'] == srted_key].head(1)
    if len(matches) ==  1:
        rv =  matches['support1'].array[0]
    
    return rv

In [304]:
from collections import namedtuple

myRecord =  namedtuple('myRecord', ['full_key', 'antecedent', 'support1', 'result', 'support2', 'support_full_key', 'confidence'])

def calculate_confidence(data: pd.DataFrame, trans_list):
    print('starting')
    ctr = 0
    rv = list()
    for r in data.itertuples():
        full_key = r.fullkey
        ant = r.antecedent
        support1 = r.support1
        res = r.result
        support2 = r.support2
        support_full_key = get_support_for_key(data, full_key)
        if support1 != 0:
            confidence = support_full_key / support1
        else:
            confidence = -1
            
        item_rv = myRecord(full_key, ant, support1, res, support2, support_full_key, confidence )
        
        rv.append( item_rv )
        
    ctr += 1
    #print("ctr: {0}".format(ctr))
    #print(rv)
    return rv

In [305]:
#print(len(calculate_confidence(n3, t2)))
rrrr = calculate_confidence(n3, t2)
#len(rrrr)
ddddd = pd.DataFrame(rrrr)

starting

In [308]:
ddddd[ddddd.confidence > 0]   #success!!!!

        full_key antecedent  support1    result  support2  support_full_key  confidence
0       (I1, I2)      (I1,)  0.666667     (I2,)  0.777778          0.444444    0.666667
1       (I1, I3)      (I1,)  0.666667     (I3,)  0.666667          0.444444    0.666667
3       (I1, I5)      (I1,)  0.666667     (I5,)  0.222222          0.222222    0.333333
4   (I1, I2, I3)      (I1,)  0.666667  (I2, I3)  0.444444          0.222222    0.333333
6   (I1, I2, I5)      (I1,)  0.666667  (I2, I5)  0.222222          0.222222    0.333333
7       (I2, I1)      (I2,)  0.777778     (I1,)  0.666667          0.444444    0.571429
8       (I2, I3)      (I2,)  0.777778     (I3,)  0.666667          0.444444    0.571429
9       (I2, I4)      (I2,)  0.777778     (I4,)  0.222222          0.222222    0.285714
10      (I2, I5)      (I2,)  0.777778     (I5,)  0.222222          0.222222    0.285714
11  (I2, I1, I3)      (I2,)  0.777778  (I1, I3)  0.444444          0.222222    0.285714
12  (I2, I1, I5)      (I2,)  0.777778  (I1, I5)  0.222222          0.222222    0.285714
13      (I3, I1)      (I3,)  0.666667     (I1,)  0.666667          0.444444    0.666667
14      (I3, I2)      (I3,)  0.666667     (I2,)  0.777778          0.444444    0.666667
17  (I3, I1, I2)      (I3,)  0.666667  (I1, I2)  0.444444          0.222222    0.333333
23      (I4, I2)      (I4,)  0.222222     (I2,)  0.777778          0.222222    1.000000
33      (I5, I1)      (I5,)  0.222222     (I1,)  0.666667          0.222222    1.000000
34      (I5, I2)      (I5,)  0.222222     (I2,)  0.777778          0.222222    1.000000
37  (I5, I1, I2)      (I5,)  0.222222  (I1, I2)  0.444444          0.222222    1.000000
42  (I1, I2, I3)   (I1, I2)  0.444444     (I3,)  0.666667          0.222222    0.500000
44  (I1, I2, I5)   (I1, I2)  0.444444     (I5,)  0.222222          0.222222    0.500000
45  (I1, I3, I2)   (I1, I3)  0.444444     (I2,)  0.777778          0.222222    0.500000
50  (I1, I5, I2)   (I1, I5)  0.222222     (I2,)  0.777778          0.222222    1.000000
55  (I2, I3, I1)   (I2, I3)  0.444444     (I1,)  0.666667          0.222222    0.500000
64  (I2, I5, I1)   (I2, I5)  0.222222     (I1,)  0.666667          0.222222    1.000000

In [98]:
ttt = [ (sorted(i[1]+i[3]), i[1], i[3] ) for i in possible_combos ]

ttt[0][0]

['I1', 'I2']

In [94]:
[ (sorted(i[1]+i[3]), i[1], i[3] ) for i in possible_combos #]
   if sorted(i[]+i[3]) in t2 ]

[]

In [85]:
t2

[('I1', 'I2', 'I5'),
 ('I2', 'I4'),
 ('I2', 'I3'),
 ('I1', 'I2', 'I4'),
 ('I1', 'I3'),
 ('I2', 'I3'),
 ('I1', 'I3'),
 ('I1', 'I2', 'I3', 'I5'),
 ('I1', 'I2', 'I3')]

In [102]:
set(ttt[0][0]).issubset(t2

False

In [115]:
[ (ttt[0][0], i) for i in t2 if set(ttt[0][0]).issubset(i)]

[(['I1', 'I2'], ('I1', 'I2', 'I5')),
 (['I1', 'I2'], ('I1', 'I2', 'I4')),
 (['I1', 'I2'], ('I1', 'I2', 'I3', 'I5')),
 (['I1', 'I2'], ('I1', 'I2', 'I3'))]

In [107]:
ttt[0]

(['I1', 'I2'], ('I1',), ('I2',))