
Candidate ItemSets come from frequent items _> get support level - then create L2

C0 -> L1 -> C1 -> L2 -> C2 -> L3 -> C3  (until only 1 itemset is left.

Calculate all support ItemSets starting from k=1, to k=n, after all done, go through each and calculate the confidence level.

The support levels from ItemSets stays the same, but then calc each Confidence level using each combination of item within each ItemSet for each overall ItemSets for k=N.

In [12]:
import pandas as pd

raw_transactions = pd.read_csv('./data/test_2b.csv', sep='\r', header=None, names=['contents'])

  contents
0      B,C
1    B,C,D
2      A,D
3  A,B,C,D
4      C,D
5    C,D,E
6      A,B