In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Loading the data
First we are loading the data to a set of Pandas DataFrames for convinience. In addition there are some helper functions to subselect features vs labels, and all features along with predicted class.

In [1]:
from helpers import *

#load the wine
data_path_red = '../.data/wine/winequality-red.csv'
data_path_white = '../.data/wine/winequality-white.csv'


df_red, df_white, df_all = load_data(data_path_red, data_path_white)

## Data Properties

In using Support Vector Machines with a linear classified (which we will try first) the data must be linear separable. That means each of the feature to feature mappings must present the actual class that is clearly separated by a linear plane. While SVM with Radial Bias Function (RBF) can accomodate non-linear data we will look towards taking our Data and modifying it for easier analysis.

The goal, repeated here, is to be able to predict a "good wine" based upon its physical and chemical properties.

In [ ]:
sns.set(style="ticks", color_codes=True)

#iris = sns.load_dataset("iris")
g = sns.pairplot(get_df_no_color(df_all), hue = 'quality')

In [3]:
df = get_df_no_color(df_all)

In [4]:
df.describe()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

In [13]:
np.unique(df.loc[:, 'quality'])

array([3, 4, 5, 6, 7, 8, 9])