In [1]:
## lets load the data
from utils.helpers import *
df_red, df_white, df_all = pull_and_load_data(force = False)

# create a X_train that is just the features and the associated
# classes (labels) that have been convered to binary classes -- "not good wine", "good wine"
# as described before
X_train, y_train = get_features_and_labels(df_all, binary = True)

import pandas as pd
import numpy as np
from chefboost import Chefboost as chef
from chefboost import Chefboost as chef

path exist and not forced
path exist and not forced

In [2]:
df = pd.DataFrame(X_train)
decision = pd.DataFrame(y_train)

df_model = df.copy()

In [3]:
df_model ['Decision'] = decision.copy()

In [4]:

config = {'algorithm': 'C4.5', 'num_of_trees': 5}
model = chef.fit(df = df_model , config = config)

C4.5  tree is going to be built...
Accuracy:  0.0 % on  6497  instances
finished in  19.558764457702637  seconds

In [5]:
model

{'trees': [<module 'outputs/rules/rules' from '/c/g/njit/njit-dm-scratch/final/notebooks/outputs/rules/rules.py'>],
 'alphas': [],
 'config': {'algorithm': 'C4.5',
  'num_of_trees': 5,
  'enableRandomForest': False,
  'enableMultitasking': False,
  'enableGBM': False,
  'epochs': 10,
  'learning_rate': 1,
  'enableAdaboost': False,
  'num_of_weak_classifier': 4,
  'enableParallelism': True},
 'nan_values': [['fixed_acidity', None],
  ['volatile_acidity', None],
  ['citric_acid', None],
  ['residual_sugar', None],
  ['chlorides', None],
  ['free_sulfur_dioxide', None],
  ['total_sulfur_dioxide', None],
  ['density', None],
  ['pH', None],
  ['sulphates', None],
  ['alcohol', None],
  ['Decision', None]]}

In [6]:
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [7]:
df_model.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,Decision
0,<=15.6,<=1.04,<=1.0,<=31.6,<=0.415,>2.0,<=303.0,>0.98711,<=3.9,<=1.95,<=14.2,0
1,<=15.6,<=1.04,<=1.0,<=31.6,<=0.415,>2.0,<=303.0,>0.98711,<=3.9,<=1.95,<=14.2,0
2,<=15.6,<=1.04,<=1.0,<=31.6,<=0.415,>2.0,<=303.0,>0.98711,<=3.9,<=1.95,<=14.2,0
3,<=15.6,<=1.04,<=1.0,<=31.6,<=0.415,>2.0,<=303.0,>0.98711,<=3.9,<=1.95,<=14.2,1
4,<=15.6,<=1.04,<=1.0,<=31.6,<=0.415,>2.0,<=303.0,>0.98711,<=3.9,<=1.95,<=14.2,0

In [8]:
chef.predict(model, df.iloc[0])

'1'

In [21]:
chef.predict(model, df_model.iloc[400])

TypeError: '>' not supported between instances of 'str' and 'float'

In [20]:
np.bincount(df_model.loc[:,'Decision'])

array([2675, 3822])