In [1]:
#this is for development only and not relevant
%load_ext autoreload
%autoreload

## lets load the data
from utils.helpers import *
df_red, df_white, df_all = pull_and_load_data(force = False)

# create a X_train that is just the features and the associated
# classes (labels) that have been convered to binary classes -- "not good wine", "good wine"
# as described before
X_train, y_train = get_features_and_labels(df_all, binary = True)

import pandas as pd
import numpy as np

path exist and not forced
path exist and not forced

In [2]:
df_categorized, df_bins = convert_to_quantiles(X_train)

df_categorized

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol
0,d-3rdQ,d-4thQ,d-1stQ,d-2ndQ,d-4thQ,d-1stQ,d-1stQ,d-4thQ,d-4thQ,d-3rdQ,d-1stQ
1,d-4thQ,d-4thQ,d-1stQ,d-2ndQ,d-4thQ,d-2ndQ,d-1stQ,d-3rdQ,d-2ndQ,d-4thQ,d-2ndQ
2,d-4thQ,d-4thQ,d-1stQ,d-2ndQ,d-4thQ,d-1stQ,d-1stQ,d-4thQ,d-3rdQ,d-4thQ,d-2ndQ
3,d-4thQ,d-2ndQ,d-4thQ,d-2ndQ,d-4thQ,d-1stQ,d-1stQ,d-4thQ,d-2ndQ,d-3rdQ,d-2ndQ
4,d-3rdQ,d-4thQ,d-1stQ,d-2ndQ,d-4thQ,d-1stQ,d-1stQ,d-4thQ,d-4thQ,d-3rdQ,d-1stQ
...,...,...,...,...,...,...,...,...,...,...,...
4893,d-1stQ,d-1stQ,d-2ndQ,d-1stQ,d-2ndQ,d-2ndQ,d-2ndQ,d-1stQ,d-3rdQ,d-2ndQ,d-3rdQ
4894,d-2ndQ,d-3rdQ,d-3rdQ,d-3rdQ,d-2ndQ,d-4thQ,d-4thQ,d-3rdQ,d-2ndQ,d-2ndQ,d-2ndQ
4895,d-2ndQ,d-2ndQ,d-1stQ,d-1stQ,d-2ndQ,d-3rdQ,d-2ndQ,d-2ndQ,d-1stQ,d-2ndQ,d-1stQ
4896,d-1stQ,d-2ndQ,d-2ndQ,d-1stQ,d-1stQ,d-2ndQ,d-2ndQ,d-1stQ,d-4thQ,d-1stQ,d-4thQ
4897,d-1stQ,d-1stQ,d-3rdQ,d-1stQ,d-1stQ,d-2ndQ,d-2ndQ,d-1stQ,d-3rdQ,d-1stQ,d-4thQ

In [3]:
df = df_categorized.copy()
decision = y_train.copy()

df_model = df.copy()

#df_model ['Decision'] = decision # np.where(decision == 0, 'bad', 'good')
df_model ['quality'] =  np.where(decision == 0, 'bad', 'good')

In [5]:
df_model.to_csv('./data/all.csv')